$CHARCOAL_BLACK: #292829;
$TRANSPARENT: rgba(255, 255, 255, 0);

.hidden {
	display: none;
}

.bold {
    font-weight: bold;
}

body {
    background-color: $CHARCOAL_BLACK;//#edf4ea;//;//#edf4ea;//#fddde7;
    color: white; //~
    // color: $CHARCOAL_BLACK;
    margin: 3%;
    // font-size: 2vw;
    font-family: 'Quicksand', sans-serif;
}

h1 {
    font-size: 2vw;
    text-align: center;
}

h2 {
    font-size: 1.5vw;
}

p {
    margin: 2.3%;
}

// form
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;

    button {
        background-color: $TRANSPARENT;
        color: white;
        border: 1px solid white;
        border-radius: 30px;
        margin-top: 3%;
        padding: 10px 20px;
    }

    button:hover {
        cursor: pointer;
        background-color: white;
        color: $CHARCOAL_BLACK;
    }


}
.formInput {
    display: flex;
    flex-wrap: wrap;

    input {
        margin: 5px;
        background-color: $TRANSPARENT;
        border: none;
        border-bottom: 3px solid white;
        color: white;
        text-align: center;
        font-family: 'Quicksand';
    }
}

hr {
    border-top: 3px solid white;
    margin: 3%;
    width: 100%;
}

// visualizations
.visCon {
    margin-top: 5%;
    padding: 5%;
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

.vis {
    margin: 2%;
}

.tooltip {
    padding: 3%;
    border: none;
}