$CHARCOAL_BLACK: #292829;

.hidden {
	display: none;
}

.bold {
    font-weight: bold;
}

body {
    background-color: #edf4ea;//;//#edf4ea;//#fddde7;
    // color: white; //~
    color: $CHARCOAL_BLACK;
    margin: 3%;
    // font-size: 2vw;
    font-family: 'Quicksand', sans-serif;
}

h1 {
    font-size: 2vw;
    text-align: center;
}

h2 {
    font-size: 1.5vw;
}

p {
    margin: 2.3%;
}

// form
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formInput {
    display: flex;
    flex-wrap: wrap;
    input {
        margin: 5px;
    }
}

// visualizations
.visCon {
    margin-top: 5%;
    padding: 5%;
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

.vis {
    margin: 2%;
}

.tooltip {
    padding: 3%;
    border: none;
}